<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataTables Server-side Processing</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Start date</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><input type="text" id="fname" data-column="0" placeholder="First Name"></th>
                <th><input type="text" id="lname" data-column="1" placeholder="Last Name"></th>
                <th><input type="text" id="position" data-column="2" placeholder="Position"></th>
                <th><input type="text" id="office" data-column="3" placeholder="Office"></th>
                <th><input type="text" id="sdate" data-column="4" placeholder="Start Date"></th>
                <th><input type="text" id="location" data-column="5" placeholder="Location" name="department__location"></th>
            </tr>
        </tfoot>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        function editRecord(id) {
            // Implement edit functionality
            alert("Edit record: " + id);
        }

        function deleteRecord(id) {
            // Implement delete functionality
            alert("Delete record: " + id);
        }
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false, // Disable default searching
                "ajax": {
                    "url": "/myapp/datatables/",
                    "data": function (d) {
                        // Get all input fields
                        var inputs = $('input[data-column]');
    
                        // Loop through each input field and set the search value
                        inputs.each(function() {
                            var columnIndex = $(this).data('column');
                            d.columns[columnIndex].search.value = $(this).val();
                        });
                    },
                    "error": function (xhr, error, code) {
                        console.log("Error: " + error);
                        console.log("Response: " + xhr.responseText);
                    }
                },
                "columns": [
                    { "data": "first_name" },
                    { "data": "last_name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "start_date" },
                    { "data": "location","name": "department__location" },
                    { "data": "actions", "orderable": false, "searchable": false }
                ]
            });
    
            // Event listener for inputs
            $('input[data-column]').on('keyup', function () {
                table.draw();
            });
        });
    </script>
</body>
</html>
